html, body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    overflow: hidden;
}

body {
    opacity: 1;
    -moz-transition: 1s opacity;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
}

h1 {
    font-family: 'against', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 0px;
}

h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: lowercase;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}

h3 {
    margin: 24px 0 100px 0;
}

h2 {
    margin-top: 90px;
}

p {
    text-align: center;
    margin: 44px 24px 0 24px;
}

p a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    line-height: 30px;
    width: 96px;
    padding: 1px 0 2px 0;
    margin: 0 12px 24px 12px;
    border: 2px solid #ffffff;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;  
}

.hover {
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

.container {
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 438px;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
}

.slideshow {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    z-index: -1;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -moz-backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
}

.overlay {
    background: #000000;
    opacity: 0.2;
    filter: alpha(opacity=20);
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    z-index: 0;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -moz-backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
}

.social a {
    font-family: 'fontawesome';
    text-decoration: none;
    color: #c1c1c1;
    margin: 0 8px 0 8px;
    font-size: 18px;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.social a:hover {
    color: #0d0d0d;
}




/* Slideshow */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

/* Device Specific Styling */

@media (max-height: 500px) {
  h2, h3 {
    line-height: 0px;
}
    
footer {
    margin-bottom: 10px;
}
.container {
    height: 312px;    
}
}

@media (max-width: 960px) {
  h1 {
    font-size: 90px
}

h2, h3 {
    font-size: 18px;
    line-height: 0px;
}
footer {
    margin-bottom: 10px;
}
.container {
    height: 312px;    
}
}

@media (max-width: 640px) {
  h1 {
    font-size: 70px
}

h2, h3 {
    font-size: 16px;
}
    
h3 {
    margin: 48px 0 70px 0;
}

h2 {
    margin-top: 65px;
}
.container {
    height: 304px;    
}
}

@media (max-width: 480px) {
  h1 {
    font-size: 50px
}

h2, h3 {
    font-size: 16px;
}
    
.slideshow {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
    
.overlay {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
    
.social a:hover {
    color: #ffffff;
}
}

@media (max-width: 419px) {
.container {
    height: 364px;    
}
}

@media (max-width: 340px) {
  h1 {
    font-size: 34px
}

h2, h3 {
    font-size: 10px;
}
.container {
    height: 364px;    
}
}

@media (max-width: 295px) {
.container {
    height: 426px;    
}
}

@font-face{font-family:against;src:url(fonts/againts.woff2) format('woff2'),url(fonts/againts.woff) format('woff'),url(fonts/againts.ttf) format('truetype');font-weight:400;font-style:normal}@font-face{font-family:fontawesome;src:url(fonts/fontawesome.woff2) format('woff2'),url(fonts/fontawesome.woff) format('woff'),url(fonts/fontawesome.ttf) format('truetype')}