    .slide_1 {
    background: url(img/slide_1.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_2 {
    background: url(img/slide_2.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_3 {
    background: url(img/slide_3.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_4 {
    background: url(img/slide_4.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_5 {
    background: url(img/slide_5.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_6 {
    background: url(img/slide_6.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_7 {
    background: url(img/slide_7.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_8 {
    background: url(img/slide_8.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_9 {
    background: url(img/slide_9.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_10 {
    background: url(img/slide_10.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_11 {
    background: url(img/slide_11.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_12 {
    background: url(img/slide_12.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_13 {
    background: url(img/slide_13.jpg) no-repeat center center;
    background-size: cover;
    }
    .slide_14 {
    background: url(img/slide_14.jpg) no-repeat center center;
    background-size: cover;
    }